body {
    background-color: #efefef;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#output{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 50px;
}

.card {
    flex-basis: 300px;
    text-align: center;
    padding: 20px 10px;
    margin: 8px;
    align-items: center;
}

h1, h2, h3, p, button {
    font-family: 'lato';
    margin: 0;
    color: #343849;
}

nav {
    display: flex;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #e2e2e2;
    justify-content: space-between;
    z-index: 1;
    align-items: center;
    position: sticky;
    top: 0px;
    width: 100%;
    padding: 30px 50px;
}

footer {
    margin-top: auto;
    justify-content: center;
}

footer > span {
    display: flex;
    align-items: center;
    justify-content: center;
}


a:hover {
    text-decoration: none;
    color: #213faf;
}

h3 {
    font-weight: 400;
    font-size: 1.2em;
}

.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color: goldenrod;
}

.navy{
    color:#3b60e4;
}

.center {
    text-align: center;
    margin: 10px;
}

button {
    margin: 10px;
    padding: 3px 8px 3px 8px;
    background-color: #efefef;
    border-radius: 4px;
    border: 1px solid #e2e2e2;
}

.gray{
    color:gray;
}


button:hover, button:focus {
    background-color: #ececec;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    outline: none;
    cursor: pointer;
}

.active-btn {
    background-color: #c5c5c5;
    border: none;
}

.class-buttons {
    display:flex;
    justify-content: center;
}

.loader-gif {
    display: flex;
    justify-content: center;
    margin-top:20px;
}

.loader-gif2 {
    display: flex;
    justify-content: center;
}

.student-avatar {
    border-radius: 100%;
    width: 70px;
    margin-bottom: 10px;
    text-align: center;
}

/* Dashboard section */

.dash-board {
    display: flex;
    margin: 3% 50px 0px 50px;
}

.card--body {
    color:  #343849;
    opacity: .6;
    font-weight: 400;
}